<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Dashboard</title>
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
    <style>
        @media (min-width: 1025px) {
            .h-custom {
                height: 100vh !important;
            }
        }

        .card-registration .select-input.form-control[readonly]:not([disabled]) {
            font-size: 1rem;
            line-height: 2.15;
            padding-left: .75em;
            padding-right: .75em;
        }

        .card-registration .select-arrow {
            top: 13px;
        }

        .bg-grey {
            background-color: #eae8e8;
        }

        @media (min-width: 992px) {
            .card-registration-2 .bg-grey {
                border-top-right-radius: 16px;
                border-bottom-right-radius: 16px;
            }
        }

        @media (max-width: 991px) {
            .card-registration-2 .bg-grey {
                border-bottom-left-radius: 16px;
                border-bottom-right-radius: 16px;
            }
        }
    </style>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="index.html">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Interface
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
               aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>Components</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Danh sách:</h6>
                    <a class="collapse-item" th:href="@{/view/products}">Sản phẩm</a>
                    <a class="collapse-item" th:href="@{/view/payment_method}">Các loại thanh toán</a>
                    <a class="collapse-item" th:href="@{/view/transport_method}">Các loại phương tiện <br> vận chuyển</a>
                </div>
            </div>
        </li>



        <!--            -->

        <!--            -->

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

        <!-- Sidebar Message -->
        <div class="sidebar-card d-none d-lg-flex">
            <img class="sidebar-card-illustration mb-2" src="../../../../../../startbootstrap-sb-admin-2-gh-pages/img/undraw_rocket.svg" alt="...">
            <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>
            <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to Pro!</a>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Search -->
                <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                               aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Topbar Navbar -->
                <a  th:href="@{/shoping_cart/a}" style="text-decoration: none;" class="text-gray-800">
                    <i class="fa fa-shopping-basket " ></i> Giỏ hàng
                </a>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div layout:fragment="content">
                <section class="h-100 h-custom" style="background-color: #d2c9ff;">
                    <div class="container py-5 h-100">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col-12">
                                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                                    <div class="card-body p-0">
                                        <div class="row g-0">
                                            <div class="col-lg-8">
                                                <div class="p-5">
                                                    <div class="d-flex justify-content-between align-items-center mb-5">
                                                        <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                                                    </div>
                                                    <hr class="my-4">


                                                    <div class="row mb-4 d-flex justify-content-between align-items-center"  th:each="sp: ${cartItem}">
                                                        <form th:action="@{/shoping_cart/update}" method="post">
                                                            <input name="id" th:value="${sp.id}" type="hidden"> <!-- lấy id sản phẩm để cập nhật quantity -->
                                                            <div class="col-md-3 col-lg-3 col-xl-3">
                                                                <img
                                                                        th:src="@{'/img/product_img/product_image/'+${sp.image}}"
                                                                        class="img-fluid rounded-2" >
                                                            </div>
                                                            <div class="col-md-3 col-lg-3 col-xl-3">
                                                                <h6 class="text-muted" style="margin-left: -2rem;width: 130px" th:text="${sp.name}"></h6>
                                                            </div>
                                                            <div class="d-flex col-4" style="width: 30px;height:30px">
                                                                <button class="btn btn-primary px-3 me-2"
                                                                <!--                                          style="width: 30px;height: 30px;margin-left: -5rem"-->
                                                                onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                                                <i class="fas fa-minus" style="font-size: 14px;margin-left: -0.525rem"></i>
                                                                </button>

                                                                <div class="form-outline">
                                                                    <input id="form1" min="0" name="quantity" th:value="${sp.quantity}" type="number" class="form-control" style="width: 37%"/>
                                                                    <label class="form-label" for="form1">Quantity</label>
                                                                </div>
                                                                <button class="btn btn-primary px-3 ms-2"

                                                                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                                                    <!--                                    style="width: 30px;height: 30px;margin-left: -6rem"-->
                                                                    <i class="fas fa-plus" style="font-size: 14px;margin-left: -0.525rem"></i></button>
                                                                <p style="padding-left: 1rem;width: 210px" th:text="${#numbers.formatDecimal(sp.price,3,'DEFAULT', 0, 'DEFAULT')}+' VNĐ'"></p>
                                                            </div>
                                                            <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                                                <a th:href="@{'/shoping_cart/remove/'+${sp.id}}" class="text-muted"><i class="fas fa-times"></i></a>
                                                            </div>
                                                        </form>
                                                    </div>



                                                    <hr class="my-4">


                                                    <div class="pt-5">
                                                        <h6 class="mb-0"><a th:href="@{/view/products}" class="text-body"><i
                                                                class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 bg-grey">
                                                <div class="p-5">
                                                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                                                    <hr class="my-4">

                                                    <div class="d-flex justify-content-between mb-4">
                                                        <h5 th:text="${#numbers.formatDecimal(tongTien,3,'DEFAULT', 0, 'DEFAULT')}+' VNĐ'"></h5>
                                                    </div>

                                                    <h5 class="text-uppercase mb-3">Shipping</h5>

                                                    <!--                          <div class="mb-4 pb-2">-->
                                                    <!--                            <select class="select">-->
                                                    <!--                              <option value="1">Standard-Delivery- €5.00</option>-->
                                                    <!--                              <option value="2">Two</option>-->
                                                    <!--                              <option value="3">Three</option>-->
                                                    <!--                              <option value="4">Four</option>-->
                                                    <!--                            </select>-->
                                                    <!--                          </div>-->

                                                    <!--                          <h5 class="text-uppercase mb-3">Give code</h5>-->

                                                    <!--                          <div class="mb-5">-->
                                                    <!--                            <div class="form-outline">-->
                                                    <!--                              <input type="text" id="form3Examplea2" class="form-control form-control-lg" />-->
                                                    <!--                              <label class="form-label" for="form3Examplea2">Enter your code</label>-->
                                                    <!--                            </div>-->
                                                    <!--                          </div>-->

                                                    <hr class="my-4">

                                                    <div class="d-flex justify-content-between mb-5">
                                                        <h5 class="text-uppercase">Total price</h5>
                                                        <h5>€ 137.00</h5>
                                                    </div>

                                                    <button type="button" class="btn btn-dark btn-block btn-lg"
                                                            data-mdb-ripple-color="dark">Register</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2021</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="../../../../../../startbootstrap-sb-admin-2-gh-pages/login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Custom scripts for all pages-->
<script th:src="@{/js/sb-admin-2.min.js}"></script>

<!-- Page level plugins -->
<script th:src="@{/vendor/chart.js/Chart.min.js}"></script>

<!-- Page level custom scripts -->
<script src="../../../../../../startbootstrap-sb-admin-2-gh-pages/js/demo/chart-area-demo.js"></script>
<script src="../../../../../../startbootstrap-sb-admin-2-gh-pages/js/demo/chart-pie-demo.js"></script>

</body>

</html>