<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/index}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="row" style="margin-left: 3rem">
            <div class="col-5" t>
                <div>
                    <h3>Địa chỉ giao hàng</h3>
                    <form>
                        <label class="w3-text-teal">Họ tên: </label>
                        <input class="w3-input" type="text" placeholder="Họ và tên"> <br>
                        <label class="w3-text-teal">Số điện thoại:  </label>
                        <input class="w3-input" type="text" placeholder="Số điện thoại"> <br>
                        <label class="w3-text-teal">Email: </label>
                        <input class="w3-input" type="text" placeholder="Email"> <br>
                        <label class="w3-text-teal">Address: </label>
                        <textarea class="w3-input" ></textarea>
                    </form>
                </div>
            </div>
            <div class="col-5">
                <div>
                    <h3>Đơn hàng</h3>
                    <span th:text="${productId.name}"></span> / <span th:text="${productId.description}"></span> / <span th:text="${productId.notes}"></span>
                    <p>Thành tiền: <span th:text="${#numbers.formatDecimal(productId.price,3,'DEFAULT', 0, 'DEFAULT')}+' VNĐ'"></span></p>
                </div>
                <div>
                    <h3>Chọn hình thức thanh toán</h3>
                    <form >
                        <div th:each="pm: ${payment}">
                            <input type="radio" th:id="${pm.name}" name="payment" th:value="${pm.name}">
                            <label class="w3-text-teal" th:for="${pm.name}" th:text="${pm.name}"></label>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-5">
                <div >
                    <div >
                        <h3>Chọn hình thức giao hàng</h3>
                        <div th:each="tp: ${tranport}">
                            <a th:href="@{'/view/getOder/'+${tranport2.id}+'/'+${tranport2.id1}}">
                                <div style="border: 1px solid black">
                                    <p th:text="${tp.name}"></p>
                                    Giá vận chuyển: <span th:text="${#numbers.formatDecimal(tp.giaTien,3,'DEFAULT', 0, 'DEFAULT')}+' VNĐ'"></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <hr>
                <h3>Tổng tiền cần thanh toán: </h3>
                <h5>Bạn đã chọn phương thức vận chuyển <span th:text="${tranport2.name}"></span> và <span ></span></h5>
                <div th:text="${#numbers.formatDecimal(tranport2.tongTien,3,'DEFAULT',0,'DEFAULT')}+'VNĐ'"> </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>