<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/index}">
<head>
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container-fluid">
        <div class="row" style="margin-left: 3rem;margin-top: 1rem">
            <div class="col-lg-3">
                <ul  >
                    <li  style="list-style: none">
                        <div class="bg-white py-2 collapse-inner rounded" style="width: 120%;">
                            <h5 class="collapse-header">Danh sách các mẫu laptop:</h5>
                            <!--                    <a class="collapse-item" th:href="@{/view/products}">Sản phẩm</a>-->
                            <a class="collapse-item" th:href="@{/view/hp}">laptop hp</a>
                            <br>
                            <a class="collapse-item" th:href="@{/view/asus}">laptop asus</a>
                            <br>
                            <a class="collapse-item" th:href="@{/view/dell}">laptop dell</a>
                            <br>
                            <a class="collapse-item" th:href="@{/view/acer}">laptop acer</a><br>
                            <a class="collapse-item" th:href="@{/view/mac}">laptop macbook</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3" style="margin-left: 5rem">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h5 class="collapse-header">Chọn theo giá:</h5>
                    <!--                    <a class="collapse-item" th:href="@{/view/products}">Sản phẩm</a>-->
                    <a class="collapse-item" th:href="@{/view/locPrice_10}">Dưới 10tr</a>
                    <br>
                    <a class="collapse-item" th:href="@{/view/locPrice_10_15}">10tr ~ 15tr</a>
                    <br>
                    <a class="collapse-item" th:href="@{/view/locPrice_15_20}">15tr ~ 20tr</a>
                    <br>
                    <a class="collapse-item" th:href="@{/view/locPrice_20_25}">20tr ~ 25tr</a><br>
                    <a class="collapse-item" th:href="@{/view/locPrice_25_30}">25tr ~ 30tr</a><br>
                    <a class="collapse-item" th:href="@{/view/locPrice_30}">Trên 30tr</a>
                </div>
            </div>
            <div class="col-lg-3"></div>
            <div class="col-lg-3" th:each="product: ${prod}" style="border: 1px solid black;margin: 2rem;text-align: center">
                <img th:src="@{'/img/product_img/product_image/'+${product.image}}" style="margin-top: 0.5rem;width: 100%">
<!--                <img th:src="@{/img/product_img/product_image/laptop_acer_aspire_1.jpg}" style="margin-top: 0.5rem;width: 350px;height: 250px">-->
                <p th:text="${product.name}"></p>
                <p th:text="${product.moTa}"></p>
                <p >Giá chỉ: <span th:text="${product.price}"></span>  VNĐ</p>
                <p > Số lượng còn lại : <span th:text="${product.quatity}"></span></p>
                <span th:text="${product.isActive}"></span><br>
                <a th:href="@{'/view/productAll/'+${product.id}}">Xem chi tiết</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>