<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/index}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="inputgroup">
                    <div class="product-select">
                        <span class="input-group-text" id="basic-addon1" style="position: absolute;width: 205px">Hãng</span>
                        <select class="form-select" aria-label="Default select example" style="position: relative;margin-left: 4rem;height: 38px">
                            <option selected>--Không chọn --</option>
                            <option value="1">HP</option>
                            <option value="2">Lenovo</option>
                            <option value="3">palivion</option>
                            <option value="4">asus</option>
                            <option value="5">dell</option>
                            <option value="6">macbook</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>